body {
  box-sizing: border-box;
  background: radial-gradient(#8f1548, #050505);
  font-family: Lato;
  width: 100%;
}
@font-face {
  font-family: "Lat";
  src: local("Lat"),
    url(../assets/fonts/DKCinnabarBrush.woff2) format("opentype");
}

@font-face {
  font-family: "Lato";
  src: local("Lato"),
    url(../assets/fonts/HurmeGeometricSans3-Regular.woff2) format("opentype");
}

.block {
  margin: 0 auto;
  overflow: hidden;
}
.one {
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  padding-left: 50px;
}
.current {
  padding-top: 30px;
}
.image-one {
  width: 70px;
  height: 70px;
}
a {
  color: white;
}
.two {
  padding: 50px;
}
.columns {
  color: white;
  font-family: Lato;
}
.image-two {
  width: 250px;
  height: auto;
  padding-right: 30px;
}
#image {
  display: flex;
  justify-content: flex-end;
}
.first-para {
  font-size: 16px;
  line-height: 1.3;
  font-family: Lato;
  padding-bottom: 10px;
}
.para-one {
  font-size: 50px;
  line-height: 1.3;
  font-family: Lato;
  padding-bottom: 15px;
}
.para-two {
  font-size: 50px;
  line-height: 1.3;
  font-weight: 900;
  font-family: Lat, Arial, serif;
  padding-bottom: 50px;
}
.icon {
  width: 50px;
  height: 50px;
  filter: invert(76%) sepia(22%) saturate(6470%) hue-rotate(308deg)
    brightness(98%) contrast(99%);
}
.three {
  background-color: whitesmoke;
  padding-top: 50px;
}
#columns {
  color: black;
}
#images {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: justify;
  padding-bottom: 50px;
}
.para-three {
  font-size: 50px;
  color: #b84449;
  font-weight: 900;
  font-family: Lat, Arial, serif;
}
.para-four {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.image-container {
  margin-top: 40px;
}
.image-three {
  width: 300px;
  height: auto;
}
.four {
  padding: 50px;
  background-color: white;
}
.para-five {
  font-family: Lat;
  font-weight: 900;
  font-size: 50px;
  color: #b84449;
  text-align: center;
}
.six {
  background-color: whitesmoke;
  padding: 50px 20px 20px 20px;
}
.para-six {
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #b84449;
  text-align: center;
}
.para-seven {
  font-family: Lat;
  font-size: 20px;
  font-weight: 900;
  color: #b84449;
  text-align: center;
}
#section {
  padding-top: 30px;
}
.five {
  background-color: white;
  padding: 0 20px 0 20px;
}
.image-five {
  width: 250px;
  height: 200px;
  display: flex;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
}
.para-eight {
  font-family: Lato;
  font-size: 16px;
  color: rgb(163, 160, 160);
  text-align: center;
}
.paragraphs {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.para-nine {
  font-family: Lat;
  font-weight: 900;
  font-size: 50px;
  color: #000000;
  text-align: center;
  padding-right: 20px;
}
.para-ten {
  font-family: Lat;
  font-weight: 900;
  font-size: 50px;
  color: #b84449;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.para-eleven {
  font-family: Lat;
  font-weight: 900;
  font-size: 50px;
  color: #757474;
  text-align: center;
  padding-left: 20px;
}
.para-twelve {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-right: 70px;
  padding-right: 70px;
}
.para-thirteen {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  color: #757474;
  margin-left: 70px;
  padding-left: 70px;
}
.image-con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
#column-one {
  background-color: #b84449;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 60px;
}
.mole {
  padding: 50px;
}
.para {
  color: white;
  font-family: Lat;
  font-size: 30px;
  font-weight: 900;
}
.paral {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
textarea {
  width: 50%;
  border: 2px solid #b84449;
}
.form-container {
  padding-left: 50px;
  padding-top: 100px;
  padding: 70px;
}
.para-sev {
  color: #b84449;
  font-family: Lat;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
form {
  margin-top: 35px;
}
input {
  width: 250px;
  border-color: #b84449;
  padding: 12px;
  margin-left: 2px;
  margin-bottom: 5px;
}
::placeholder {
  color: #b84449;
  font-size: 20px;
}
input[type="text"] {
  border: 2px solid #b84449;
}
button {
  width: 200px;
  height: 50px;
  background-color: #b84449;
  color: white;
  border: none;
}
footer {
  background-color: #b84449;
  overflow: hidden;
}
#foot-column {
  padding: 20px 20px 0 20px;
}
#foot {
  color: white;
  font-family: Lato;
  display: flex;
}
#foot-one {
  display: flex;
  justify-content: center;
}
.foot-img {
  padding-left: 10px;
  padding-right: 10px;
  width: 40px;
  height: 25px;
}
#foot-two {
  display: flex;
  justify-content: flex-end;
}
.para-last {
  color: white;
  font-family: Lato;
  font-size: 20px;
  text-align: center;
  padding-bottom: 40px;
}
@media screen and (max-width: 1000px) {
  #foot {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  #image {
    display: flex;
    justify-content: center;
  }
  .two {
    text-align: center;
  }
  .three {
    display: flex;
    justify-content: center;
  }
  #foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #foot-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .paragraphs {
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .para-twelve {
    padding-bottom: 10px;
  }
  .one {
    font-size: 2.5vh;
    padding: 20px;
  }
}
@media screen and (max-width: 500px) {
  .one {
    font-size: 2.5vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-one {
    width: 30px;
    height: auto;
    padding-top: 10px;
  }
  .current {
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  #nav-wrap {
    font-size: 2.5vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-one {
    width: 30px;
    height: auto;
    padding-top: 10px;
  }
  .current {
    padding: 10px;
  }
  li {
    padding: 10px;
  }
}
